version: '3.7'
services:
  service1:
    image: almathex/service1:latest
    build: ./service1 
    ports:
    - target: 5000
      published: 5000
      protocol: tcp
    deploy:
      replicas: 3
    depends_on:
      - database 
    enviroment:
      - MYSQL_ROOT_PASSWORD=root  
  service2:
    image: almathex/service2:latest      
    build: ./service2
    ports:
    - target: 5001
      published: 5001
      protocol: tcp
  service3:    
    image: almathex/service3:latest
    build: ./service3 
    ports:
    - target: 5002
      published: 5002
      protocol: tcp
  service4:
    image: almathex/service4:latest
    build: ./service4
    ports:
    - target: 5003
      published: 5003
      protocol: tcp
  nginx:
    image: nginx:alpine
    ports:
     - target: 80
       published: 80
       protocol: tcp
    deploy:
      replicas: 1
       
  mysql:
    image: almathex/database:latest
    build: ./database 
    ports:
    - target: 3306
    volumes:
    - type: volume
      source: prize_data
      target: /var/lib/mysql
    enviroment:
      - MYSQL_ROOT_PASSWORD=root 
volumes: 
  prize_data:    
