- name: Leave Docker Swarm
  docker_swarm:
    state: absent
    force: true

- name: Join Docker Swarm - Worker 
  docker_swarm:
    state: join
    remote_addrs: 10.154.0.55  
    join_token: "{{ hostvars['join_token']['value'] }}"
    remote_addrs: [ "10.154.0.55:2377" ]